{% extends'admin/base.html.twig'%}

{% block body %}


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

 <div class="site-section">
      <div class="container">
        <div style="width :75%"> 
          <style>
            #line-chart{
            position: relative;
            top: -80px;
            }
                        </style>
                       
         <canvas id="line-chart" width="800" height="450"></canvas>
          </div>
          <script>
         new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ["Janvier","Fevrier","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"],
    datasets: [{ 
        data: [  {% for  user in users %}
             {{user}},
                       
              
        {% endfor %}],
        label: "Client",
        borderColor: "lime",
        fill: false
      }, { 
        data: [{% for  p in p %}
             {{p}},
                       
              
        {% endfor %}],
        label: "Parapharmacie",
        borderColor: "aqua",
        fill: false
      },
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Nombre des inscriptions (Par mois)'
    }
  }
});
          
          </script>   
{% endblock %}