
{% extends 'admin/base.html.twig' %}
{% block body %}

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-name">Pharmacie</th>
                    <th class="product-name">Nom du propriétaire</th>
                    <th class="product-name">Prénom du propriétaire</th>
                    <th class="product-adresse">Adresse</th>
                    <th class="product-telephone">Telephone</th>
                    <th class="product-remove">Supprimer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td class="product-name">
                      <h2 class="h5 text-black">Pharmacie Oujda</h2>
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">Nom</h2>
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">Prénom</h2>
                    </td>
                    <td> Lazaret</td>
                    
                    <td>0666666666</td>
                    <td><a href="#" class="btn btn-primary height-auto btn-sm">X</a></td>
                </tr>
    
                  <tr>
                   
                    <td class="product-name">
                      <h2 class="h5 text-black">Pharmacie Casa</h2>
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">Nom</h2>
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">Prénom</h2>
                    </td>
                    <td> Al Jawhara  </td>
                    
                    <td>0XXXXXXXX</td>
                    <td><a href="#" class="btn btn-primary height-auto btn-sm">X</a></td>
                </tr>
                  <tr>
                    
                    <td class="product-name">
                      <h2 class="h5 text-black">Pharmacie Taza</h2>
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">Nom</h2>
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">Prénom</h2>
                    </td>
                    <td> 15 Avenue Mohamed V</td>
                    
                    <td>0535541875</td>
                    <td><a href="#" class="btn btn-primary height-auto btn-sm">X</a></td>
                </tr>
                  <tr>
                    
                    <td class="product-name">
                      <h2 class="h5 text-black">Pharmacie Bolivia</h2>
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">Nom</h2>
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">Prénom</h2>
                    </td>
                    <td>Av. Las Américas # 594</td>
                    
                    <td>6644330  </td>
                    <td><a href="#" class="btn btn-primary height-auto btn-sm">X</a></td>

                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
    

{% endblock %}
