{% extends 'admin/base.html.twig' %}

{% block body %}
   <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-name">Nom</th>             
                    <th class="product-name">Prénom</th>
                    <th class="product-name">Nom d'utilisateur</th>
                    <th class="product-adresse">Email</th>
                    <th class="product-telephone">Telephone</th>
                    <th class="product-remove">Supprimer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td class="product-name">
                      <h2 class="h5 text-black">ELMAHJOUBY</h2>
                    </td>
                    <td>
                     <h2 class="h5 text-black"> Marouane</h2>
                    </td>
                    <td> marouaneel</td>                    
                    <td>marouaneelmahjouby@gmail.com</td>
                    
                    <td>0694847710</td>
                    <td><a href="#" class="btn btn-primary height-auto btn-sm">X</a></td>
                  </tr>
    
                  <tr>
                   
                    <td class="product-name">
                      <h2 class="h5 text-black">TAALLA</h2>
                    </td>
                    <td>
                        <h2 class="h5 text-black"> Salwa</h2>
                       </td>
                       <td>salwataalla</td>                            
                    <td>salwataalla@gmail.com  </td>
                    
                    <td>06XXXXXXXX</td>
                    <td><a href="#" class="btn btn-primary height-auto btn-sm">X</a></td>
                  </tr>
                  <tr>
                    
                    <td class="product-name">
                      <h2 class="h5 text-black">JEBBARI</h2>
                    </td>
                    <td>
                        <h2 class="h5 text-black"> Ibtissam</h2>
                       </td>
                       <td>  jibtissam</td>
                    <td> jabbari@gmail.com</td>
                    
                    <td>06XXXXXXXX</td>
                    <td><a href="#" class="btn btn-primary height-auto btn-sm">X</a></td>
                  </tr>
                  <tr>
                    
                    <td class="product-name">
                      <h2 class="h5 text-black">FAROUQ</h2>
                    </td>
                    <td>
                        <h2 class="h5 text-black"> Ilyass</h2>
                       </td>
                       <td>frq</td>                                       
                    <td>ilyasfrq@gmail.com</td>
                    
                    <td>06XXXXXXXX    </td>
                    <td><a href="#" class="btn btn-primary height-auto btn-sm">X</a></td>
                  </tr>
                  <tr>
                    
                    <td class="product-name">
                      <h2 class="h5 text-black">YOUSSEFI</h2>
                    </td>
                    <td>
                        <h2 class="h5 text-black"> Adnane</h2>
                       </td>
                       <td>adnaneysf</td>
                    <td>adnane@gmail.com</td>
                    
                    <td>06XXXXXXXX    </td>
                    <td><a href="#" class="btn btn-primary height-auto btn-sm">X</a></td>
                  </tr>
                  <tr>
                    
                    <td class="product-name">
                      <h2 class="h5 text-black">JOUDI</h2>
                    </td>
                    <td>
                        <h2 class="h5 text-black"> Walid</h2>
                       </td>
                       <td> walidj</td>
                    <td>joudi@gmail.com</td>
                    
                    <td>06XXXXXXXX</td>
                    <td><a href="#" class="btn btn-primary height-auto btn-sm">X</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
    

    
{% endblock %}