{% extends 'client/base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
 <div class="site-blocks-cover inner-page" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto align-self-center">
            <div class=" text-center">
              <h1>À PROPOS DE NOUS</h1>
              <p>Que pensez-vous de l'idée d'acheter vos produits médicaux pendant que vous êtes allongé dans votre maison? et si cette idée était réelle? Cela ne vous ferait-il pas économiser beaucoup de temps et d'efforts?
C'est ce que nous avons réalisé sur ce site. PARACLIC est un site de confiance pour montrer vos médicaments au public. Afin de faciliter l'accès et l'achat de ces derniers</p>
            </div>
          </div>
        </div>
      </div>
    </div>

   

    

    
  
    

  


    
    


    
{% endblock %}



 {# <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="images/person_4.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Walid joudi</h3>
                  <p class="block-38-subheading">Programmeeur</p>
                </div>
                <div class="block-38-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio
                    recusandae doloribus ut fugit officia voluptate soluta. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="images/adnane.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Adnane youssfi</h3>
                  <p class="block-38-subheading">Programmation</p>
                </div>
                <div class="block-38-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio
                    recusandae doloribus ut fugit officia voluptate soluta. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> #}