<style>
.form-inline{
    margin-left:400px;
}
</style>


<div class='search'>
{{ form_start(form, {'attr': {'id': 'search_form','action':path('HandleSearch') ,'placeholder':'searh a product','class':'form-inline','style': 'display:inline;margin:0px auto'}}) }}

    {{ form_widget(form,{'attr': {'class': 'form-inline'}}) }}
    
  
{{ form_end(form) }}
</div>