{% extends 'proprietaire/base.html.twig' %}
{% block nav %}{% endblock %}
{% block body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <div class="site-section">
            <div class="container">
            <div style="width :65%">
                  <canvas id="bar-chart" width="800" height="450"></canvas>       
            </div>
            </div>
      </div>
          <script>
          new Chart(document.getElementById("bar-chart"), {
              type: 'bar',
              data: {
                labels: ["Janvier", "Fevrier", "Mars", "Avril", "Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"],
                datasets: [
                  {
                    label: "Population (millions)",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#FF7F50","#FF00FF","#DB7093","#40E0D0","#FFFF00","#BDB76B"],
                    data: [2478,5267,734,784,433,230,552,452,157,369,796]
                  }
                ]
              },
              options: {
                legend: { display: false },
                title: {
                  display: true,
                  text: 'Nombre de visite'
                }
              }
          });
          </script>
{% endblock %}