{% extends 'proprietaire/base.html.twig' %}
{% block body %}
<div class="site-section">
      <div class="container">

            <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Produits</th>
                        <th>Clients</th>
                        <th>Quantité</th>
                        <th>Prix Total</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for vente in ventes|reverse %}
                        <tr>
                            <th>{{ vente.produit.nom }}</th>
                            <td>{{ vente.commande.client.user.nom }}</td>
                            <td>{{ vente.quantite }}</td>
                            <td></td>
                            <td>
                                <a href="#" class="btn btn-primary btn-sm d-block mb-1" style="width: 100px">Afficher</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
      </div>
    </div>
{% endblock %}